::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.hide {
  /* visibility: hidden; */
  display: none;
}
.true {
  color: #00d800;
  margin-top: 0;
  padding-left: 10px;
  margin-bottom: 0px;
}
.false {
  color: #c70000;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 10px;
}
.svg-icon {
  width: 50px;
  height: 50px;
  transition: all 0.1s;
}
.svg-icon:hover {
  width: 55px;
  height: 55px;
}
.svg-icon:active {
  width: 50px;
  height: 50px;
}
.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #4691f6;
}
.svg-icon circle {
  stroke: #4691f6;
  stroke-width: 1;
}
